---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// // custom CSS here
// $type-size-1 : 1.75em;      // ~32px
// $type-size-2 : 1.25em;    // ~24px
// $type-size-3 : 1.125em;   // ~20px
// $type-size-4 : 1.0em;  // ~18px
// $type-size-5 : 0.875em;      // ~16px (기본 크기)
// $type-size-6 : 0.75em;  // ~14px
// $type-size-7 : 0.625em;   // ~12px
// $type-size-8 : 0.6em;  // ~10px

body {
    font-size: 11px; /* 원하는 폰트 크기로 변경 */
    line-height: 1.6; /* 줄 간격 설정 */
  }
  